# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Publish output
publish/
*.Publish.xml

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# ASP.NET runtime and config sensitive files
appsettings.Development.json
secrets.json

# User-specific files
*.db
*.pdb
*.log

# OS files
Thumbs.db
.DS_Store

# JetBrains Rider
.idea/

# dotnet local tools
.dotnet/tools

# Visual Studio Code
.vscode/

# EF Migrations snapshot
**/Migrations/*.Designer.cs